<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.net.servlets.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.net.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.net.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postTitle</servlet-name>
        <servlet-class>com.net.servlets.postTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpostServlet</servlet-name>
        <servlet-class>com.net.servlets.addpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.net.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>com.net.servlets.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentServlet</servlet-name>
        <servlet-class>com.net.servlets.commentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postTitle</servlet-name>
        <url-pattern>/postTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpostServlet</servlet-name>
        <url-pattern>/addpostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentServlet</servlet-name>
        <url-pattern>/commentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
